### Diccionario de datos

- id: Identificar único de la solicitud de crédito
- income: Ingreso anual en USD
- experience: Años de experiencia profesional
- marital_status: Estado marital
- house_ownership: Tipo de vivienda
- car_ownership: Propiedad de vehículo
- profession: Profesión
- city: Ciudad de residencia
- state: Estado de residencia
- current_job_years: Años en el trabajo actual
- current_house_years: Años en la actual residencia
- risk_flag: Indica si fue identificado como riesgo de incumplimiento de la obligación

In [2]:
import pandas as pd

import altair as alt
alt.renderers.enable('default')

RendererRegistry.enable('default')

In [3]:
loans_df = pd.read_csv('./data/loans.csv')

In [4]:
loans_df.shape

(252000, 13)

In [5]:
loans_df.dtypes

id                      int64
income                  int64
age                     int64
experience              int64
marital_status         object
house_ownership        object
car_ownership          object
profession             object
city                   object
state                  object
current_job_years       int64
current_house_years     int64
risk_flag               int64
dtype: object

In [6]:
loans_df.head()

,id,income,age,experience,marital_status,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [10]:
loans_df['profession'].value_counts(dropna = False, normalize = True)

Physician                     0.023639
Statistician                  0.023040
Web_designer                  0.021417
Psychologist                  0.021389
Computer_hardware_engineer    0.021317
Drafter                       0.021266
Magistrate                    0.021258
Fashion_Designer              0.021048
Air_traffic_controller        0.020956
Comedian                      0.020869
Industrial_Engineer           0.020833
Mechanical_engineer           0.020702
Chemical_engineer             0.020655
Technical_writer              0.020615
Hotel_Manager                 0.020548
Financial_Analyst             0.020504
Graphic_Designer              0.020500
Flight_attendant              0.020349
Biomedical_Engineer           0.020345
Secretary                     0.020083
Software_Developer            0.020052
Petroleum_Engineer            0.020004
Police_officer                0.019980
Computer_operator             0.019802
Politician                    0.019619
Microbiologist                0.019369
Technician                    0.019302
Artist                        0.019290
Lawyer                        0.019119
Consultant                    0.019079
Dentist                       0.018976
Scientist                     0.018972
Surgeon                       0.018937
Aviator                       0.018881
Technology_specialist         0.018798
Design_Engineer               0.018766
Surveyor                      0.018706
Geologist                     0.018540
Analyst                       0.018524
Army_officer                  0.018496
Architect                     0.018480
Chef                          0.018393
Librarian                     0.018365
Civil_engineer                0.018317
Designer                      0.018246
Economist                     0.018147
Firefighter                   0.017885
Chartered_Accountant          0.017829
Civil_servant                 0.017512
Official                      0.016218
Engineer                      0.016063
Name: profession, dtype: float64

In [7]:
alt.Chart(loans_df).mark_bar().encode(    # Making a bar chart
    alt.X('income'),                    # X-axis is an aggregated value for categorical variable in Y
    alt.Y('profession'),   # Y-axis is sorted based on aggregated value
).properties(
    width = 600,
    height = 150
)

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000). For information on how to plot larger datasets in Altair, see the documentation

alt.Chart(...)