In [2]:
#  se esta importanto todas las librerias requeridas para este ejercicio.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# cargamos los tres archivos que tenemos como dataFrames para su correspondiente analicis.
df_poblacion_colombia = pd.read_csv("./data/poblacion_colombia_2018.csv", sep=";")
df_delitosSexuales = pd.read_csv("./data/Reporte__Delitos_sexuales_Polic_a_Nacional.csv")
df_delitosSexuales.drop_duplicates()
df_delitoSecuestro = pd.read_csv("./data/Reporte_Delito_Secuestro_Polic_a_Nacional.csv")
df_delitoSecuestro.drop_duplicates()
df_delitoViolenciaIntra = pd.read_csv("./data/Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv")
df_delitoViolenciaIntra.drop_duplicates()

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD
0,ANTIOQUIA,GIRARDOTA,5308000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
1,ANTIOQUIA,ITAGUI,5360000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
3,ANTIOQUIA,LA ESTRELLA,5380000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
4,ANTIOQUIA,MEDELLÍN (CT),5001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,2
5,ANTIOQUIA,MEDELLÍN (CT),5001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
722816,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,31/07/2021,FEMENINO,ADULTOS,1
722818,VALLE,CALI (CT),76001000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,NO REPORTADO,1
722819,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,MENORES,1
722820,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,ADOLECENTES,1
722821,VAUPÉS,MITÚ (CT),97001000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,ADULTOS,1

## mostrar las dimenciones de cada dataFrame

In [4]:
df_delitosSexuales.shape

(239209, 9)

In [5]:
df_delitoSecuestro.shape

(2529, 9)

In [6]:
df_delitoViolenciaIntra.shape

(722822, 8)

## verificar los tipos de datos de cada columna/serie en cada dataFrame

In [7]:
df_delitosSexuales.dtypes

DEPARTAMENTO    object
MUNICIPIO       object
CODIGO DANE      int64
ARMAS MEDIOS    object
FECHA HECHO     object
GENERO          object
GRUPO ETARIO    object
CANTIDAD         int64
delito          object
dtype: object

In [8]:
df_delitoSecuestro.dtypes

DEPARTAMENTO            object
MUNICIPIO               object
CODIGO DANE              int64
ARMAS MEDIOS            object
FECHA HECHO             object
GENERO                  object
GRUPO ETARIO            object
DESCRIPCION CONDUCTA    object
CANTIDAD                 int64
dtype: object

In [9]:
df_delitoViolenciaIntra.dtypes

DEPARTAMENTO    object
MUNICIPIO       object
CODIGO DANE      int64
ARMAS MEDIOS    object
FECHA HECHO     object
GENERO          object
GRUPO ETARIO    object
CANTIDAD         int64
dtype: object

## imprimir los 10 primeros registro de cada dataFrame

In [10]:
df_delitosSexuales.head(10)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD,delito
0,ANTIOQUIA,NECOCLÍ,5490000,NO REPORTADO,1/01/2010,FEMENINO,MENORES,1,ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...
1,ANTIOQUIA,TURBO,5837000,SIN EMPLEO DE ARMAS,1/01/2010,NO REPORTA,ADULTOS,1,ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...
2,ARAUCA,ARAUCA (CT),81001000,NO REPORTADO,1/01/2010,FEMENINO,MENORES,1,ARTÍCULO 210 A. ACOSO SEXUAL
3,ARAUCA,ARAUCA (CT),81001000,NO REPORTADO,1/01/2010,FEMENINO,ADOLECENTES,1,ARTÍCULO 210 A. ACOSO SEXUAL
4,ATLÁNTICO,SOLEDAD,8758000,NO REPORTA,1/01/2010,FEMENINO,MENORES,1,ARTÍCULO 209. ACTOS SEXUALES CON MENOR DE 14 AÑOS
5,ATLÁNTICO,SOLEDAD,8758000,NO REPORTA,1/01/2010,FEMENINO,ADOLECENTES,1,ARTÍCULO 211. ACCESO CARNAL O ACTO SEXUAL ABUS...
6,ATLÁNTICO,BARRANQUILLA (CT),8001000,NO REPORTADO,1/01/2010,MASCULINO,MENORES,1,ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...
7,BOLÍVAR,CARTAGENA (CT),13001000,NO REPORTADO,1/01/2010,FEMENINO,MENORES,1,ARTÍCULO 209. ACTOS SEXUALES CON MENOR DE 14 AÑOS
8,BOLÍVAR,PINILLOS,13549000,NO REPORTADO,1/01/2010,FEMENINO,MENORES,1,ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...
9,BOLÍVAR,CARTAGENA (CT),13001000,CONTUNDENTES,1/01/2010,FEMENINO,ADOLECENTES,1,ARTÍCULO 205. ACCESO CARNAL VIOLENTO

In [11]:
df_delitoSecuestro.head(10)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,DESCRIPCION CONDUCTA,CANTIDAD
0,CASANARE,YOPAL (CT),85001000,ARMA BLANCA / CORTOPUNZANTE,03/01/2010,MASCULINO,ADULTOS,ARTÍCULO 168. SECUESTRO SIMPLE,1
1,ANTIOQUIA,BRICEÑO,5107000,ARMA BLANCA / CORTOPUNZANTE,05/01/2010,MASCULINO,ADULTOS,ARTÍCULO 169. SECUESTRO EXTORSIVO,1
2,ARAUCA,TAME,81794000,ARMA BLANCA / CORTOPUNZANTE,05/01/2010,MASCULINO,ADULTOS,ARTÍCULO 168. SECUESTRO SIMPLE,1
3,CESAR,AGUACHICA,20011000,ARMA BLANCA / CORTOPUNZANTE,08/01/2010,MASCULINO,ADULTOS,ARTÍCULO 169. SECUESTRO EXTORSIVO,1
4,GUAJIRA,DIBULLA,44090000,ARMA BLANCA / CORTOPUNZANTE,09/01/2010,FEMENINO,ADULTOS,ARTÍCULO 169. SECUESTRO EXTORSIVO,1
5,ANTIOQUIA,BRICEÑO,5107000,-,11/01/2010,MASCULINO,ADULTOS,ARTÍCULO 168. SECUESTRO SIMPLE,1
6,CESAR,CURUMANÍ,20228000,ARMA BLANCA / CORTOPUNZANTE,11/01/2010,MASCULINO,ADULTOS,ARTÍCULO 169. SECUESTRO EXTORSIVO,1
7,GUAJIRA,RIOHACHA (CT),44001000,ARMA BLANCA / CORTOPUNZANTE,13/01/2010,MASCULINO,ADOLECENTES,ARTÍCULO 169. SECUESTRO EXTORSIVO,1
8,GUAJIRA,RIOHACHA (CT),44001000,ARMA BLANCA / CORTOPUNZANTE,13/01/2010,FEMENINO,ADULTOS,ARTÍCULO 169. SECUESTRO EXTORSIVO,1
9,VALLE,BUENAVENTURA,76109000,ARMA BLANCA / CORTOPUNZANTE,16/01/2010,MASCULINO,ADULTOS,ARTÍCULO 169. SECUESTRO EXTORSIVO,1

In [12]:
df_delitoViolenciaIntra.head(10)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD
0,ANTIOQUIA,GIRARDOTA,5308000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
1,ANTIOQUIA,ITAGUI,5360000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
2,ANTIOQUIA,ITAGUI,5360000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
3,ANTIOQUIA,LA ESTRELLA,5380000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
4,ANTIOQUIA,MEDELLÍN (CT),5001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,2
5,ANTIOQUIA,MEDELLÍN (CT),5001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
6,ANTIOQUIA,MEDELLÍN (CT),5001000,SIN EMPLEO DE ARMAS,1/01/2010,FEMENINO,ADULTOS,1
7,ANTIOQUIA,MEDELLÍN (CT),5001000,CONTUNDENTES,1/01/2010,MASCULINO,ADULTOS,1
8,ARAUCA,ARAUCA (CT),81001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
9,ARAUCA,ARAUCA (CT),81001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1

## se convertira la fecha de cada dataFrame a tipo fecha en vez al tipo object en el que esta.

In [13]:
df_delitosSexuales["FECHA HECHO"] = pd.to_datetime(df_delitosSexuales["FECHA HECHO"], format='%d/%m/%Y')

In [14]:
df_delitoSecuestro["FECHA HECHO"] =  pd.to_datetime(df_delitoSecuestro["FECHA HECHO"], format='%d/%m/%Y')

In [15]:
df_delitoViolenciaIntra["FECHA HECHO"] =  pd.to_datetime(df_delitoViolenciaIntra["FECHA HECHO"], format='%d/%m/%Y')

# primer punto: ¿Cuáles han sido los departamentos (TOP 3) más afectados a nivel histórico y en el último año?

In [16]:
def primerPuntoSolucion(dataframe):
    
    def departamentosTotales(x):
        departamentos.add(x)
    
    departamentos = set()
    cantidadSumadaXDepartamento = list()
    cantidadSumadaXDepartamentoHistorico = list()
    dataframe["DEPARTAMENTO"].apply(departamentosTotales)

    listaDepartamentos = list(departamentos)
    delitosHistorico = dataframe
    delitosLastYear= dataframe.loc[dataframe["FECHA HECHO"] >= "01/09/2020"]

    
    for departamento in listaDepartamentos:
        cantidadSumadaXDepartamento.append(delitosLastYear.where(delitosLastYear["DEPARTAMENTO"] == departamento)["CANTIDAD"].sum())
        cantidadSumadaXDepartamentoHistorico.append(delitosHistorico.where(dataframe["DEPARTAMENTO"] == departamento)["CANTIDAD"].sum())

    df_delitosPrimerPunto = pd.DataFrame({"DEPARTAMENTO": listaDepartamentos,"CANTIDAD ULTIMO AÑO": cantidadSumadaXDepartamento,"CANTIDAD HISTORICO": cantidadSumadaXDepartamentoHistorico })
    
    return df_delitosPrimerPunto

In [17]:
#delitos_sexuales
df_delitosSexualesPrimerPunto = primerPuntoSolucion(df_delitosSexuales).sort_values(by=["CANTIDAD ULTIMO AÑO","CANTIDAD HISTORICO"], ascending=False)
df_delitosSexualesPrimerPunto.head(3)

    DEPARTAMENTO  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO
23  CUNDINAMARCA              10594.0             46666.0
13     ANTIOQUIA               6641.0             28534.0
14         VALLE               3869.0             25639.0

In [18]:
#delitos_secuestro
df_delitoSecuestroPrimerPunto = primerPuntoSolucion(df_delitoSecuestro).sort_values(by=["CANTIDAD ULTIMO AÑO","CANTIDAD HISTORICO"], ascending=False)
df_delitoSecuestroPrimerPunto.head(3)

    DEPARTAMENTO  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO
14         VALLE                 40.0               312.0
13     ANTIOQUIA                 28.0               255.0
21  CUNDINAMARCA                 23.0               288.0

In [19]:
#delitos_violencia_intrafamiliar
df_delitoViolenciaIntraPrimerPunto = primerPuntoSolucion(df_delitoViolenciaIntra).sort_values(by=["CANTIDAD ULTIMO AÑO","CANTIDAD HISTORICO"], ascending=False)
df_delitoViolenciaIntraPrimerPunto.head(3)

    DEPARTAMENTO  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO
23  CUNDINAMARCA              70106.0            265036.0
13     ANTIOQUIA              25195.0            101501.0
14         VALLE              13393.0             80211.0

# segundo punto: ¿Cuál ha sido históricamente el arma o medio más común para cometer el delito?

In [20]:
def segundoPuntoSolucion(dataframe):
    armas = set()
    cantidadSumadaXarmas = list()
    

    def armasTotales(x):
        armas.add(x)
    
    dataframe["ARMAS MEDIOS"].apply(armasTotales)
    listaArmas = list(armas)
    

    for arma in listaArmas:
        respuesta = dataframe.where(dataframe["ARMAS MEDIOS"] == arma)["ARMAS MEDIOS"].count()
        cantidadSumadaXarmas.append(respuesta)
    

    df_delitosPrimerPunto = pd.DataFrame({"ARMAS MEDIOS": listaArmas,"NUMERO CRIMENES": cantidadSumadaXarmas })
    df_delitosPrimerPunto
    return df_delitosPrimerPunto.sort_values("NUMERO CRIMENES",ascending=False)

In [21]:
#delitos_sexuales
df_delitosSexualesSegundoPunto = segundoPuntoSolucion(df_delitosSexuales)
df_delitosSexualesSegundoPunto.head(1)

           ARMAS MEDIOS  NUMERO CRIMENES
12  SIN EMPLEO DE ARMAS           109403

In [22]:
#delitos_secuestro
df_delitoSecuestroSegundoPunto = segundoPuntoSolucion(df_delitoSecuestro)
df_delitoSecuestroSegundoPunto.head(1)

                  ARMAS MEDIOS  NUMERO CRIMENES
6  ARMA BLANCA / CORTOPUNZANTE              986

In [23]:
#delitos_violencia_intrafamiliar
df_delitoViolenciaIntraSegundoPunto = segundoPuntoSolucion(df_delitoViolenciaIntra)
df_delitoViolenciaIntraSegundoPunto.head(1)

   ARMAS MEDIOS  NUMERO CRIMENES
1  CONTUNDENTES           364692

# cuarto punto: ¿Se evidencia alguna tendencia para cometer dicho delito en algún mes particular del año?

In [ ]:
#delitos_sexuales
df_delitosSexuales.groupby(df_delitosSexuales["FECHA HECHO"].dt.month)["CANTIDAD"].sum().plot(kind="bar")

In [ ]:
#delitos_secuestro
df_delitoSecuestro.groupby(df_delitoSecuestro["FECHA HECHO"].dt.month)["CANTIDAD"].sum().plot(kind="bar")

In [ ]:
#delitos_violencia_intrafamiliar
df_delitoViolenciaIntra.groupby(df_delitoViolenciaIntra["FECHA HECHO"].dt.month)["CANTIDAD"].sum().plot(kind="bar")

### cuarto punto.2: Para los casos en los que se disponga del detalle del delito o de una descripción, como por ejemplo en delitos sexuales y secuestro, ¿cuáles son los delitos, descripciones o modalidades más comunes?

In [ ]:
#delitos_sexuales
df_delitosSexuales.groupby(df_delitosSexuales["delito"]).count().plot(kind="bar")

In [ ]:
#delitos_secuestro
df_delitoSecuestro.groupby(df_delitoSecuestro["DESCRIPCION CONDUCTA"]).count().plot(kind="bar")

# Bono:  Para tener una mayor significancia estadística de los resultados obtenidos en el punto 1, es importante que normalice las cantidades obtenidas por cantidad de habitantes en el municipio. En este CSV puede obtener la población por departamento para el año 2018. Asuma que la población no ha cambiado con el paso de los años.

In [100]:
df_poblacion_colombia = pd.read_csv("./data/poblacion_colombia_2018.csv", sep=";")
df_poblacion_colombia = df_poblacion_colombia.rename(columns={'departamento':'DEPARTAMENTO', 'población':'POBLACION'})

## normalizo los nombres del departamento para que todos queden en mayuscula
def mayuscula(x):
    x = x.upper()
    return x

df_poblacion_colombia["DEPARTAMENTO"]=df_poblacion_colombia["DEPARTAMENTO"].apply(mayuscula)


## normalizo el valor de la poblacion para que quede en numero y le quito los "." que no son necesarios
def pasarFloat(x):
    x = x.replace(".","")
    return pd.to_numeric(x)

df_poblacion_colombia["POBLACION"] = df_poblacion_colombia["POBLACION"].apply(pasarFloat)


## aca reviso que departamentos tienen nombre diferente para nomrmalizarlos y que deden con el nombre del departamento que es
## esto lo hago un poco manual porque voy a cambiar el nombre del departamento manualmente.

departamentos_diferentes = set()
lista1 = np.array(df_delitosSexualesPrimerPunto["DEPARTAMENTO"])
lista2 = np.array(df_poblacion_colombia["DEPARTAMENTO"])



def comparacionDepartamento():
    for i in range(32):
        departamentos.add(df_delitosSexualesPrimerPunto["DEPARTAMENTO"].values[i])
        resultado = np.where(lista1 == df_poblacion_colombia["DEPARTAMENTO"].values[i] )
        if resultado[0].size == 0:
            departamentos_diferentes.add(df_poblacion_colombia["DEPARTAMENTO"].values[i])



comparacionDepartamento()
print("ESTOS SON LOS DEPARTAMENTOS QUE NO COINCIDEN:\n " , departamentos_diferentes)
print("ESTOS SON LOS DEPARTAMENTOS:\n " , departamentos)

## aca cambiamos los valores de los nombres de los departamentos para que coincidan con los departamentos que ya tenemos.

df_poblacion_colombia.loc[df_poblacion_colombia["DEPARTAMENTO"] == "ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANTA CATALINA","DEPARTAMENTO"] =  "SAN ANDRÉS"
df_poblacion_colombia.loc[df_poblacion_colombia["DEPARTAMENTO"] == "LA GUAJIRA","DEPARTAMENTO"] =  "GUAJIRA"
df_poblacion_colombia.loc[df_poblacion_colombia["DEPARTAMENTO"] == "VALLE DEL CAUCA","DEPARTAMENTO"] =  "VALLE"

ESTOS SON LOS DEPARTAMENTOS QUE NO COINCIDEN:
  {'ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANTA CATALINA', 'LA GUAJIRA', 'VALLE DEL CAUCA'}
ESTOS SON LOS DEPARTAMENTOS:
  {'TOLIMA', 'VICHADA', 'CAUCA', 'CAQUETÁ', 'SAN ANDRÉS', 'MAGDALENA', 'SUCRE', 'ATLÁNTICO', 'CALDAS', 'GUAVIARE', 'BOYACÁ', 'SANTANDER', 'PUTUMAYO', 'ANTIOQUIA', 'VALLE', 'CHOCÓ', 'GUAINÍA', 'CASANARE', 'CÓRDOBA', 'META', 'ARAUCA', 'AMAZONAS', 'BOLÍVAR', 'CUNDINAMARCA', 'NORTE DE SANTANDER', 'HUILA', 'VAUPÉS', 'QUINDÍO', 'GUAJIRA', 'RISARALDA', 'NARIÑO', 'CESAR'}

In [99]:

#esta funcion se encargara de normaliazar las cantidades obtenidas por cantidad de habitantes para cada municipio
def quintoPuntoSolucion():
    for i in range(32):
        datoPoblacionCantidad = tablaPuntoBono["CANTIDAD ULTIMO AÑO"].values[i]
        datoPoblacionCantidadHistorico = tablaPuntoBono["CANTIDAD HISTORICO"].values[i]
        datoPoblacion = float(tablaPuntoBono["POBLACION"].values[i])
        tablaPuntoBono["CANTIDAD ULTIMO AÑO"].values[i] = datoPoblacionCantidad/datoPoblacion
        tablaPuntoBono["CANTIDAD HISTORICO"].values[i] = datoPoblacionCantidadHistorico/datoPoblacion
        

tablaPuntoBono = pd.merge(df_poblacion_colombia,df_delitosSexualesPrimerPunto,  how = "right" , on="DEPARTAMENTO")
quintoPuntoSolucion()
tablaPuntoBono

          DEPARTAMENTO  POBLACION  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO
0         CUNDINAMARCA    7412566             0.001429            0.006296
1            ANTIOQUIA    2427129             0.002736            0.011756
2                VALLE    2227642             0.001737            0.011509
3            SANTANDER     581130             0.004142            0.029135
4            ATLÁNTICO    1206319             0.001594            0.009476
5               TOLIMA     529635             0.003442            0.016710
6              BOLÍVAR     973045             0.001860            0.008628
7                HUILA     357392             0.004054            0.028425
8                 META     531275             0.002573            0.014576
9               BOYACÁ     172548             0.007094            0.045234
10             CÓRDOBA     490935             0.002404            0.013016
11              NARIÑO     392930             0.002830            0.016825
12           RISARALDA     467269             0.002356            0.015837
13               CESAR     490075             0.002240            0.009841
14              CALDAS     434403             0.002495            0.013458
15               CAUCA     318059             0.003377            0.020235
16           MAGDALENA     499192             0.002129            0.011434
17  NORTE DE SANTANDER     711715             0.001475            0.008498
18               SUCRE     277773             0.002344            0.016535
19             QUINDÍO     295208             0.001982            0.011656
20            PUTUMAYO      56398             0.008263            0.039168
21             CAQUETÁ     168346             0.002744            0.020838
22             GUAJIRA     188014             0.002298            0.014834
23            CASANARE     168433             0.002393            0.014012
24               CHOCÓ     129237             0.002399            0.015684
25              ARAUCA      85585             0.003494            0.022866
26            GUAVIARE      52815             0.003446            0.016397
27          SAN ANDRÉS      55291             0.002297            0.008229
28            AMAZONAS      48144             0.002098            0.020127
29             VICHADA      20936             0.004347            0.015285
30             GUAINÍA      31514             0.001809            0.009139
31              VAUPÉS      29850             0.001642            0.006298

# tercer punto: ¿Cómo es la proporción de géneros y grupos etarios que han estado involucrados en este tipo de delito? ¿Han variado con el paso de los años?

### DELITOS_SEXUALES

#### GENERO

In [ ]:
#delitos_sexuales
df_delitosSexualesFecha = df_delitosSexuales
df_delitosSexualesFecha["FECHA HECHO"] = df_delitosSexualesFecha["FECHA HECHO"].dt.year
df_delitosSexualesFecha.groupby(["FECHA HECHO","GENERO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

#### GRUPO ETARIO

In [ ]:
df_delitosSexualesFecha.groupby(["FECHA HECHO","GRUPO ETARIO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

### DELITO_SECUESTRO

#### GENERO

In [ ]:
df_delitoSecuestroFecha = df_delitoSecuestro
df_delitoSecuestroFecha["FECHA HECHO"] = df_delitoSecuestroFecha["FECHA HECHO"].dt.year
df_delitoSecuestroFecha.groupby(["FECHA HECHO","GENERO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

#### GRUPO ETARIO

In [ ]:
df_delitoSecuestroFecha.groupby(["FECHA HECHO","GRUPO ETARIO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

### DELITOS_VIOLENCIA_INTRAFAMILIAR

#### GENERO

In [ ]:
df_delitoViolenciaIntraFecha = df_delitoViolenciaIntra
df_delitoViolenciaIntraFecha["FECHA HECHO"] = df_delitoViolenciaIntraFecha["FECHA HECHO"].dt.year
df_delitoViolenciaIntraFecha.groupby(["FECHA HECHO","GENERO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

#### GRUPO ETARIO

In [ ]:
df_delitoViolenciaIntraFecha.groupby(["FECHA HECHO","GRUPO ETARIO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")