In [1]:
#  se esta importanto todas las librerias requeridas para este ejercicio.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# cargamos los tres archivos que tenemos como dataFrames para su correspondiente analicis.
df_poblacion_colombia = pd.read_csv("./data/poblacion_colombia_2018.csv", sep=";")
df_delitosSexuales = pd.read_csv("./data/Reporte__Delitos_sexuales_Polic_a_Nacional.csv")
df_delitosSexuales.drop_duplicates()
df_delitoSecuestro = pd.read_csv("./data/Reporte_Delito_Secuestro_Polic_a_Nacional.csv")
df_delitoSecuestro.drop_duplicates()
df_delitoViolenciaIntra = pd.read_csv("./data/Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv")
df_delitoViolenciaIntra.drop_duplicates()

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD
0,ANTIOQUIA,GIRARDOTA,5308000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
1,ANTIOQUIA,ITAGUI,5360000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
3,ANTIOQUIA,LA ESTRELLA,5380000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
4,ANTIOQUIA,MEDELLÍN (CT),5001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,2
5,ANTIOQUIA,MEDELLÍN (CT),5001000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
722816,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,31/07/2021,FEMENINO,ADULTOS,1
722818,VALLE,CALI (CT),76001000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,NO REPORTADO,1
722819,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,MENORES,1
722820,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,ADOLECENTES,1
722821,VAUPÉS,MITÚ (CT),97001000,SIN EMPLEO DE ARMAS,31/07/2021,MASCULINO,ADULTOS,1

## mostrar las dimenciones de cada dataFrame

In [ ]:
df_delitosSexuales.shape

In [ ]:
df_delitoSecuestro.shape

In [ ]:
df_delitoViolenciaIntra.shape

## verificar los tipos de datos de cada columna/serie en cada dataFrame

In [ ]:
df_delitosSexuales.dtypes

In [ ]:
df_delitoSecuestro.dtypes

In [ ]:
df_delitoViolenciaIntra.dtypes

## imprimir los 10 primeros registro de cada dataFrame

In [ ]:
df_delitosSexuales.head(10)

In [ ]:
df_delitoSecuestro.head(10)

In [ ]:
df_delitoViolenciaIntra.head(10)

## se convertira la fecha de cada dataFrame a tipo fecha en vez al tipo object en el que esta.

In [3]:
df_delitosSexuales["FECHA HECHO"] = pd.to_datetime(df_delitosSexuales["FECHA HECHO"], format='%d/%m/%Y')

In [4]:
df_delitoSecuestro["FECHA HECHO"] =  pd.to_datetime(df_delitoSecuestro["FECHA HECHO"], format='%d/%m/%Y')

In [5]:
df_delitoViolenciaIntra["FECHA HECHO"] =  pd.to_datetime(df_delitoViolenciaIntra["FECHA HECHO"], format='%d/%m/%Y')

# primer punto: ¿Cuáles han sido los departamentos (TOP 3) más afectados a nivel histórico y en el último año?

In [6]:
def primerPuntoSolucion(dataframe):
    
    def departamentosTotales(x):
        departamentos.add(x)
    
    departamentos = set()
    cantidadSumadaXDepartamento = list()
    cantidadSumadaXDepartamentoHistorico = list()
    dataframe["DEPARTAMENTO"].apply(departamentosTotales)

    listaDepartamentos = list(departamentos)
    delitosHistorico = dataframe
    delitosLastYear= dataframe.loc[dataframe["FECHA HECHO"] >= "01/09/2020"]

    
    for departamento in listaDepartamentos:
        cantidadSumadaXDepartamento.append(delitosLastYear.where(delitosLastYear["DEPARTAMENTO"] == departamento)["CANTIDAD"].sum())
        cantidadSumadaXDepartamentoHistorico.append(delitosHistorico.where(dataframe["DEPARTAMENTO"] == departamento)["CANTIDAD"].sum())

    df_delitosPrimerPunto = pd.DataFrame({"DEPARTAMENTO": listaDepartamentos,"CANTIDAD ULTIMO AÑO": cantidadSumadaXDepartamento,"CANTIDAD HISTORICO": cantidadSumadaXDepartamentoHistorico })
    
    return df_delitosPrimerPunto

In [7]:
#delitos_sexuales
df_delitosSexualesPrimerPunto = primerPuntoSolucion(df_delitosSexuales).sort_values(by=["CANTIDAD ULTIMO AÑO","CANTIDAD HISTORICO"], ascending=False)
df_delitosSexualesPrimerPunto.head(3)

    DEPARTAMENTO  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO
31  CUNDINAMARCA              10594.0             46666.0
5      ANTIOQUIA               6641.0             28534.0
8          VALLE               3869.0             25639.0

In [8]:
#delitos_secuestro
df_delitoSecuestroPrimerPunto = primerPuntoSolucion(df_delitoSecuestro).sort_values(by=["CANTIDAD ULTIMO AÑO","CANTIDAD HISTORICO"], ascending=False)
df_delitoSecuestroPrimerPunto.head(3)

    DEPARTAMENTO  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO
7          VALLE                 40.0               312.0
4      ANTIOQUIA                 28.0               255.0
29  CUNDINAMARCA                 23.0               288.0

In [9]:
#delitos_violencia_intrafamiliar
df_delitoViolenciaIntraPrimerPunto = primerPuntoSolucion(df_delitoViolenciaIntra).sort_values(by=["CANTIDAD ULTIMO AÑO","CANTIDAD HISTORICO"], ascending=False)
df_delitoViolenciaIntraPrimerPunto.head(3)

    DEPARTAMENTO  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO
31  CUNDINAMARCA              70106.0            265036.0
5      ANTIOQUIA              25195.0            101501.0
8          VALLE              13393.0             80211.0

# segundo punto: ¿Cuál ha sido históricamente el arma o medio más común para cometer el delito?

In [ ]:
def segundoPuntoSolucion(dataframe):
    armas = set()
    cantidadSumadaXarmas = list()
    

    def armasTotales(x):
        armas.add(x)
    
    dataframe["ARMAS MEDIOS"].apply(armasTotales)
    listaArmas = list(armas)
    

    for arma in listaArmas:
        respuesta = dataframe.where(dataframe["ARMAS MEDIOS"] == arma)["ARMAS MEDIOS"].count()
        cantidadSumadaXarmas.append(respuesta)
    

    df_delitosPrimerPunto = pd.DataFrame({"ARMAS MEDIOS": listaArmas,"NUMERO CRIMENES": cantidadSumadaXarmas })
    df_delitosPrimerPunto
    return df_delitosPrimerPunto.sort_values("NUMERO CRIMENES",ascending=False)

In [ ]:
#delitos_sexuales
df_delitosSexualesSegundoPunto = segundoPuntoSolucion(df_delitosSexuales)
df_delitosSexualesSegundoPunto.head(1)

In [ ]:
#delitos_secuestro
df_delitoSecuestroSegundoPunto = segundoPuntoSolucion(df_delitoSecuestro)
df_delitoSecuestroSegundoPunto.head(1)

In [ ]:
#delitos_violencia_intrafamiliar
df_delitoViolenciaIntraSegundoPunto = segundoPuntoSolucion(df_delitoViolenciaIntra)
df_delitoViolenciaIntraSegundoPunto.head(1)

# tercer punto: ¿Cómo es la proporción de géneros y grupos etarios que han estado involucrados en este tipo de delito? ¿Han variado con el paso de los años?

### DELITOS_SEXUALES

#### GENERO

In [ ]:
#delitos_sexuales
df_delitosSexualesFecha = df_delitosSexuales
df_delitosSexualesFecha["FECHA HECHO"] = df_delitosSexualesFecha["FECHA HECHO"].dt.year
df_delitosSexualesFecha.groupby(["FECHA HECHO","GENERO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

#### GRUPO ETARIO

In [ ]:
df_delitosSexualesFecha.groupby(["FECHA HECHO","GRUPO ETARIO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

### DELITO_SECUESTRO

#### GENERO

In [ ]:
df_delitoSecuestroFecha = df_delitoSecuestro
df_delitoSecuestroFecha["FECHA HECHO"] = df_delitoSecuestroFecha["FECHA HECHO"].dt.year
df_delitoSecuestroFecha.groupby(["FECHA HECHO","GENERO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

#### GRUPO ETARIO

In [ ]:
df_delitoSecuestroFecha.groupby(["FECHA HECHO","GRUPO ETARIO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

### DELITOS_VIOLENCIA_INTRAFAMILIAR

#### GENERO

In [ ]:
df_delitoViolenciaIntraFecha = df_delitoViolenciaIntra
df_delitoViolenciaIntraFecha["FECHA HECHO"] = df_delitoViolenciaIntraFecha["FECHA HECHO"].dt.year
df_delitoViolenciaIntraFecha.groupby(["FECHA HECHO","GENERO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

#### GRUPO ETARIO

In [ ]:
df_delitoViolenciaIntraFecha.groupby(["FECHA HECHO","GRUPO ETARIO"])["CANTIDAD"].sum().to_frame().plot(kind="bar")

# cuarto punto: ¿Se evidencia alguna tendencia para cometer dicho delito en algún mes particular del año?

In [ ]:
#delitos_sexuales
df_delitosSexuales.groupby(df_delitosSexuales["FECHA HECHO"].dt.month)["CANTIDAD"].sum().plot(kind="bar")

In [ ]:
#delitos_secuestro
df_delitoSecuestro.groupby(df_delitoSecuestro["FECHA HECHO"].dt.month)["CANTIDAD"].sum().plot(kind="bar")

In [ ]:
#delitos_violencia_intrafamiliar
df_delitoViolenciaIntra.groupby(df_delitoViolenciaIntra["FECHA HECHO"].dt.month)["CANTIDAD"].sum().plot(kind="bar")

### cuarto punto.2: Para los casos en los que se disponga del detalle del delito o de una descripción, como por ejemplo en delitos sexuales y secuestro, ¿cuáles son los delitos, descripciones o modalidades más comunes?

In [ ]:
#delitos_sexuales
df_delitosSexuales.groupby(df_delitosSexuales["delito"]).count().plot(kind="bar")

In [ ]:
#delitos_secuestro
df_delitoSecuestro.groupby(df_delitoSecuestro["DESCRIPCION CONDUCTA"]).count().plot(kind="bar")

# Bono:  Para tener una mayor significancia estadística de los resultados obtenidos en el punto 1, es importante que normalice las cantidades obtenidas por cantidad de habitantes en el municipio. En este CSV puede obtener la población por departamento para el año 2018. Asuma que la población no ha cambiado con el paso de los años.

In [15]:
df_poblacion_colombia = pd.read_csv("./data/poblacion_colombia_2018.csv", sep=";")
df_poblacion_colombia = df_poblacion_colombia.rename(columns={'departamento':'DEPARTAMENTO', 'población':'POBLACION'})

def pasarFloat(x):
    x = x.replace(".","")
    return pd.to_numeric(x)


df_poblacion_colombia["POBLACION"] = df_poblacion_colombia["POBLACION"].apply(pasarFloat)



def quintoPuntoSolucion():
    for i in range(32):
        datoPoblacionCantidad = tablaPuntoBono["CANTIDAD ULTIMO AÑO"].values[i]
        datoPoblacionCantidadHistorico = tablaPuntoBono["CANTIDAD HISTORICO"].values[i]
        datoPoblacion = float(tablaPuntoBono["POBLACION"].values[i])
        tablaPuntoBono["CANTIDAD ULTIMO AÑO"].values[i] = datoPoblacionCantidad/datoPoblacion
        tablaPuntoBono["CANTIDAD HISTORICO"].values[i] = datoPoblacionCantidadHistorico/datoPoblacion
        


tablaPuntoBono = pd.merge(df_delitosSexualesPrimerPunto,df_poblacion_colombia,  how = "left" , on="DEPARTAMENTO")
tablaPuntoBono

          DEPARTAMENTO  CANTIDAD ULTIMO AÑO  CANTIDAD HISTORICO  POBLACION
0         CUNDINAMARCA              10594.0             46666.0        NaN
1            ANTIOQUIA               6641.0             28534.0        NaN
2                VALLE               3869.0             25639.0        NaN
3            SANTANDER               2407.0             16931.0        NaN
4            ATLÁNTICO               1923.0             11431.0        NaN
5               TOLIMA               1823.0              8850.0        NaN
6              BOLÍVAR               1810.0              8395.0        NaN
7                HUILA               1449.0             10159.0        NaN
8                 META               1367.0              7744.0        NaN
9               BOYACÁ               1224.0              7805.0        NaN
10             CÓRDOBA               1180.0              6390.0        NaN
11              NARIÑO               1112.0              6611.0        NaN
12           RISARALDA               1101.0              7400.0        NaN
13               CESAR               1098.0              4823.0        NaN
14              CALDAS               1084.0              5846.0        NaN
15               CAUCA               1074.0              6436.0        NaN
16           MAGDALENA               1063.0              5708.0        NaN
17  NORTE DE SANTANDER               1050.0              6048.0        NaN
18               SUCRE                651.0              4593.0        NaN
19             QUINDÍO                585.0              3441.0        NaN
20            PUTUMAYO                466.0              2209.0        NaN
21             CAQUETÁ                462.0              3508.0        NaN
22             GUAJIRA                432.0              2789.0        NaN
23            CASANARE                403.0              2360.0        NaN
24               CHOCÓ                310.0              2027.0        NaN
25              ARAUCA                299.0              1957.0        NaN
26            GUAVIARE                182.0               866.0        NaN
27          SAN ANDRÉS                127.0               455.0        NaN
28            AMAZONAS                101.0               969.0        NaN
29             VICHADA                 91.0               320.0        NaN
30             GUAINÍA                 57.0               288.0        NaN
31              VAUPÉS                 49.0               188.0        NaN

In [16]:
df_poblacion_colombia

                                         DEPARTAMENTO  POBLACION
0                                            Amazonas      48144
1                                           Antioquia    2427129
2                                              Arauca      85585
3                                           Atlántico    1206319
4                                             Bolívar     973045
5                                              Boyacá     172548
6                                              Caldas     434403
7                                             Caquetá     168346
8                                            Casanare     168433
9                                               Cauca     318059
10                                              Chocó     129237
11                                            Córdoba     490935
12                                       Cundinamarca    7412566
13                                              Cesar     490075
14                                            Guainía      31514
15                                           Guaviare      52815
16                                              Huila     357392
17                                         La Guajira     188014
18                                          Magdalena     499192
19                                               Meta     531275
20                                             Nariño     392930
21                                 Norte de Santander     711715
22                                           Putumayo      56398
23                                            Quindío     295208
24                                          Risaralda     467269
25  Archipiélago de San Andrés, Providencia y Sant...      55291
26                                          Santander     581130
27                                              Sucre     277773
28                                             Tolima     529635
29                                    Valle del Cauca    2227642
30                                             Vaupés      29850
31                                            Vichada      20936